<% org_or_location_membership_array = @membership.location.nil? ? [:admin, @membership.org, @membership] : [:admin, @membership.location.org, @membership.location, @membership] %>
<%= form_for(org_or_location_membership_array) do |f| %>
<% if @membership.errors.any? %>
<div id="error_explanation" class="alert alert-danger" role="alert">
  <strong><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</strong>

  <ul>
    <% @membership.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="form-group<%= f.object.errors[:user_id].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :user_via_email, 'Team Member\'s Email', { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.text_field :user_via_email, { class: "form-control", type: 'email', required: 'true', autofocus: 'autofocus' } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group<%= f.object.errors[:privileges].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :privileges, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.hidden_field :privileges %>
      <%= f.object.privileges %>
    </div>
  </div>
</div>
<div class="actions text-center">
  <%= f.submit class: "btn btn-success" %>
</div>
<% end %>
