<% content_for :page_title do %>
Slide Details - 
<% end %>
<div class="container">
  <div class="page-header">
    <h1>
      <div class="pull-left">
        <%= link_to "<span class=\"glyphicon glyphicon-step-backward\" aria-hidden=\"true\"></span>".html_safe, [@space.location.org, @space.location, @space], class: "btn btn-default", title: "Back to space" %>
        &nbsp;
      </div>
      Slide #<%= @slide.slideshowable.slides.index(@slide)+1 %>
      <small>
        <%= @space.name %>
      </small>
    </h1>
  </div>

  <p class="text-center">
    <%= image_tag @slide.picture.url %>
    <br/>
    <%= @slide.caption %>
  </p>


</div>

