<% content_for :page_title do %>
<%= @location.name %>: Reservations - Reception -  
<% end %>
<div class="container">
  <div class="page-header">
    <h1>
      <div class="pull-left">
        <%= link_to "<span class=\"glyphicon glyphicon-step-backward\" aria-hidden=\"true\"></span>".html_safe, [@location.org, @location], class: "btn btn-default", title: "Back" %>
        &nbsp;
      </div>

      Reservations <small><%= @location.name %></small>
    </h1>
  </div>

  <table class="table table-striped table-hover tablesorter" id="reservations-table">


    <thead>
      <tr>
    
        <th><span>Space</span></th>
        <th><span>Start</span></th>
        <th><span>End</span></th>
        <th><span>Checked In</span></th>
        <th><span>Canceled</span></th>
        <th><span>Confirmation Code</span></th>
        <th><span>Name</span></th>
        <th><span>Email</span></th>
        <th><span>Phone</span></th>
        <th><span>Price</span></th>
      
      </tr>
    </thead>

    <tbody>
      <% unless @reservations.any? %>
      <tr id="empty-table">
        <td class="bg-warning" colspan="10">No reservations created yet.</td>
      </tr>
      <% end %>
      <% @reservations.each do |reservation| %>
      <tr class="linked-row" data-href="<%= reception_org_location_reservation_path(reservation.space.location.org, reservation.space.location, reservation) %>">
      
        <td><%= link_to reservation.space.name, [:reception, reservation.space.location.org, reservation.space.location, reservation] %></td>
        <td><%= link_to reservation.starts_at.in_time_zone(reservation.space.location.timezone).strftime('%D %I:%M %p'), [:reception, reservation.space.location.org, reservation.space.location, reservation] %></td>
        <td><%= link_to reservation.ends_at.in_time_zone(reservation.space.location.timezone).strftime('%D %I:%M %p'), [:reception, reservation.space.location.org, reservation.space.location, reservation] %></td>
        <td>
          <% if reservation.checked_in_at.blank? %>
          <a class="btn btn-xs btn-info checkin-now-button" data-reservation-checkinnow-prompt="Really mark `<%= reservation.name %>` as checked-in to `<%= reservation.space.name %>` now?" data-reservation-checkinnow-path="<%= checkedin_reception_org_location_reservation_path(reservation.space.location.org, reservation.space.location, reservation, format: 'json') %>">Checkin Now...</a>
          <% else %>
          <%= link_to reservation.checked_in_at.in_time_zone(reservation.space.location.timezone).strftime('%D %I:%M %p'), [:reception, reservation.space.location.org, reservation.space.location, reservation] %>
          <% end %>
        </td>
        <td><% unless reservation.canceled_at.blank? %><%= link_to reservation.canceled_at.in_time_zone(reservation.space.location.timezone).strftime('%D %I:%M %p'), [:reception, reservation.space.location.org, reservation.space.location, reservation] %><% end %></td>
        <td><%= link_to reservation.confirmation, [:reception, reservation.space.location.org, reservation.space.location, reservation] %></td>
        <td>
          <%= link_to reservation.name, [:reception, reservation.space.location.org, reservation.space.location, reservation] %>
        </td>
        <td><%= link_to reservation.email, [:reception, reservation.space.location.org, reservation.space.location, reservation] %></td>
        <td><%= link_to reservation.phone, [:reception, reservation.space.location.org, reservation.space.location, reservation] %></td>
        <td><%= link_to number_to_currency(reservation.price_in_cents / 100.00), [:reception, reservation.space.location.org, reservation.space.location, reservation] %></td>
   
        
        
      </tr>
      <% end %>
    </tbody>
  </table>
</div>




