<%= form_for(@org) do |f| %>
<% if @org.errors.any? %>
<div id="error_explanation" class="alert alert-danger" role="alert">
  <strong><%= pluralize(@org.errors.count, "error") %> prohibited this org from being saved:</strong>

  <ul>
    <% @org.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="form-group<%= f.object.errors[:name].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :name, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.text_field :name, { class: "form-control" } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group<%= f.object.errors[:permalink].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :permalink, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.text_field :permalink, { class: "form-control" } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group<%= f.object.errors[:email].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :email, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.text_field :email, { class: "form-control", type: 'email' } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group<%= f.object.errors[:phone].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :url, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.text_field :url, { class: "form-control", type: 'url' } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group<%= f.object.errors[:phone].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :phone, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.text_field :phone, { class: "form-control", type: 'tel' } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group<%= f.object.errors[:owner_id].empty? ? "" : " has-error has-feedback" %>">
    <%= f.label :owner_id, { class: "control-label col-sm-2" } %>
    <div class="col-sm-10">
      <%= f.text_field :owner_id, { class: "form-control" } %>
    </div>
  </div>
</div>
<div class="actions text-center">
  <%= f.submit class: "btn btn-success" %>
</div>
<% end %>
