<p id="notice"><%= notice %></p>

<h1>Listing Orgs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Permalink</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orgs.each do |org| %>
      <tr>
        <td><%= org.name %></td>
        <td><%= org.permalink %></td>
        <td><%= org.email %></td>
        <td><%= org.phone %></td>
        <td><%= org.owner %></td>
        <td><%= link_to 'Show', org %></td>
        <td><%= link_to 'Edit', edit_org_path(org) %></td>
        <td><%= link_to 'Destroy', org, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Org', new_org_path %>
