<% content_for :page_title do %>
Space Details - 
<% end %>
<div class="container">
  <div class="page-header">
    <h1>
      <div class="pull-left">
        <%= link_to "<span class=\"glyphicon glyphicon-step-backward\" aria-hidden=\"true\"></span>".html_safe, org_location_spaces_path(@location.org, @location), class: "btn btn-default", title: "Back to spaces" %>
        &nbsp;
      </div>
      <div class="pull-right">
        <%= link_to "<span class=\"glyphicon glyphicon-plus\" aria-hidden=\"true\"></span> New Reservation".html_safe, [:new, @space.location.org, @space.location, @space, :reservation], class: "btn btn-primary" %>
      </div>
      Space Details
    </h1>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Location</label>
    <div class="col-sm-9"><%= @space.location.name %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Name</label>
    <div class="col-sm-9"><%= @space.name %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Permalink</label>
    <div class="col-sm-9"><%= @space.permalink %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Standard hourly price</label>
    <div class="col-sm-9"><%= number_to_currency(@space.standard_hourly_price_in_cents / 100.00) %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Picurl</label>
    <div class="col-sm-9"><%= @space.picurl %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Maximum days in advance reservable</label>
    <div class="col-sm-9"><%= @space.max_days_in_advance_reservable %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Reservable quantity</label>
    <div class="col-sm-9"><%= @space.reservable_quantity %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Description</label>
    <div class="col-sm-9"><%= @space.description %></div>
  </div>

</div>

