<% content_for :page_title do %>
<%= @user.full_name %> - <%= @user.username %> - Profile - 
<% end %>
<div class="container">
  <div class="page-header">
    <h1>
      <div class="pull-left">
        <%= link_to "<span class=\"glyphicon glyphicon-step-backward\" aria-hidden=\"true\"></span>".html_safe, users_path, class: "btn btn-default", title: "Back to users" %>
        &nbsp;
      </div>
      <div class="pull-right">
        <%= link_to "<span class=\"glyphicon glyphicon-pencil\" aria-hidden=\"true\"></span> Edit".html_safe, edit_user_path(@user), class: "btn btn-warning" %>
      </div>
      <%= image_tag(@user.picurl) %> <%= @user.full_name %>
      <span class="text-muted">(<%= @user.username %>)</span>
    </h1>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">First name</label>
    <div class="col-sm-9"><%= @user.first_name %></div>
  </div>
  
  <% unless @user.middle_name.blank? %>
  <div class="row">
    <label class="col-sm-3 text-right text-muted">Middle name</label>
    <div class="col-sm-9"><%= @user.middle_name %></div>
  </div>
  <% end %>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Last name</label>
    <div class="col-sm-9"><%= @user.last_name %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Username</label>
    <div class="col-sm-9"><%= @user.username %></div>
  </div>
  
  <div class="row">
    <label class="col-sm-3 text-right text-muted">Email</label>
    <div class="col-sm-9"><%= link_to @user.email, "mailto:#{@user.email}" %></div>
  </div>


  <div class="row">
    <label class="col-sm-3 text-right text-muted">Phone</label>
    <div class="col-sm-9"><%= @user.phone %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Zipcode</label>
    <div class="col-sm-9"><%= @user.zipcode %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Facebook</label>
    <div class="col-sm-9"><%= @user.facebookid.blank? ? link_to('Connect Facebook', '/auth/facebook') : '<span class="glyphicon glyphicon-check" aria-hidden="true"></span>'.html_safe %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">GitHub</label>
    <div class="col-sm-9"><%= @user.githubid.blank? ? link_to('Connect GitHub', '/auth/github') : '<span class="glyphicon glyphicon-check" aria-hidden="true"></span>'.html_safe %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Google</label>
    <div class="col-sm-9"><%= @user.googleid.blank? ? link_to('Connect Google', '/auth/google_oauth2') : '<span class="glyphicon glyphicon-check" aria-hidden="true"></span>'.html_safe %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">LinkedIn</label>
    <div class="col-sm-9"><%= @user.linkedinid.blank? ? link_to('Connect LinkedIn', '/auth/linkedin') : '<span class="glyphicon glyphicon-check" aria-hidden="true"></span>'.html_safe %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Twitter</label>
    <div class="col-sm-9"><%= @user.twitterid.blank? ? link_to('Connect Twitter', '/auth/twitter') : '<span class="glyphicon glyphicon-check" aria-hidden="true"></span>'.html_safe %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">HanaHaus Admin</label>
    <div class="col-sm-9"><%= @user.superuser.blank? ? 'No' : 'Yes' %></div>
  </div>

</div>

