<%= form_for([@reservation.space.location, @reservation.space, @reservation]) do |f| %>

<script type="text/javascript">
var ReservationSpace = <%= @reservation.space.to_json.html_safe %>;
var ReservationLocation = <%= @reservation.space.location.to_json.html_safe %>;
</script>

<div class="container">

  <% if @reservation.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <strong><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</strong>

    <ul>
      <% @reservation.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <h2>
    1. Account: 
    <small>
      <% if authed_user %>
      <img src='<%= authed_user.picurl %>' class="inline-profile-pic"> <%= authed_user.full_name %>
      <% else %>
      (optional)
      <% end %>
    </small>
  </h2>

  <% if authed_user %>
  <p>
    Logged in as <img src='<%= authed_user.picurl %>' class="inline-profile-pic"> <%= authed_user.full_name %>.
    <a href="/sessions/new?next=<%= url_encode request.path %>">Login as a different user</a>.
  </p>
  <% else %>
  <p>
    Not logged in. Optionally
    <a href="/sessions/new?next=<%= url_encode request.path %>">login for a quicker reservation</a>.
  </p>
  <% end %>

</div>

<hr/>

<div class="container">
  <h2>
    2. Space to Reserve:
    <small>
      <%= @reservation.space.name %> 
      at <%= @reservation.space.location.name %> 
      for <%= number_to_currency(@reservation.space.standard_hourly_price_in_cents / 100.00) %> / hour
    </small>
  </h2>
</div>

<p>&nbsp;</p>

<div class="page-wide-padding">
  <div class="page-wide-padding-inside">

    <% @reservation.space.location.spaces.order('name desc').all.in_groups_of(4) do |group| %>
    <div class="row">
      <% group.each do |space| %>
      <div class="col-xs-6 col-md-3">
        <% unless space.nil? %>
        <div class="thumbnail<%= @reservation.space.id == space.id ? ' success' : '' %>">
          <a title="Click for more details about this space..." data-toggle="modal" data-target="#space-<%= space.id %>-modal"><img src="<%= space.picurl %>" alt="<%= space.name %>"></a>
          <div class="caption">
            <h3><a title="Click for more details about this space..." data-toggle="modal" data-target="#space-<%= space.id %>-modal"><%= space.name %></a></h3>
            <p><a title="Click for more details about this space..." data-toggle="modal" data-target="#space-<%= space.id %>-modal"><%= number_to_currency(space.standard_hourly_price_in_cents / 100.00) %> / hour</a></p>
            <p><a title="Click for more details about this space..." data-toggle="modal" data-target="#space-<%= space.id %>-modal"><%= truncate space.description, separator: ' ', length: 80 %></a></p>
            <% if @reservation.space.id == space.id %>
            <p class="text-center"><a href="#" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Selected</a></p>
            <% else %>
            <p class="text-center"><a href="<%= new_location_space_reservation_path(@reservation.space.location, space) %>" class="btn btn-primary" role="button">Select</a></p>
            <% end %>
          </div>
        </div>
    
        <div class="modal fade" id="space-<%= space.id %>-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><%= space.name %> &mdash; <%= number_to_currency(space.standard_hourly_price_in_cents / 100.00) %> / hour</h4>
              </div>
              <div class="modal-body">
                <img src="<%= space.picurl %>" alt="<%= space.name %>">
                <br/>
                <p><%= space.description %></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>

  </div>
</div>

<hr/>

<% sunday_start = @reservation.starts_at_in_zone.beginning_of_week(start_day = :sunday).in_time_zone(@reservation.timezone) %>
<% now_in_zone = Time.now.in_time_zone(@reservation.timezone) %>

<div class="container">
  <h2 id="day-and-time-selector">
    3. Day &amp; Time:
    <small>
      <%= @reservation.starts_at_in_zone.strftime("%A, ") %>
    
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span id="month-of-year-label"><%= @reservation.starts_at_in_zone.strftime("%B") %></span> <span class="caret"></span>
        </button>
        <ul id="month-of-year-selector" class="dropdown-menu" role="menu">
          <li<%= @reservation.starts_at_in_zone.month == 1  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> January</a></li>
          <li<%= @reservation.starts_at_in_zone.month == 2  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> February</a></li>
          <li<%= @reservation.starts_at_in_zone.month == 3  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> March</a></li>
          <li<%= @reservation.starts_at_in_zone.month == 4  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> April</a></li>
          <li<%= @reservation.starts_at_in_zone.month == 5  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> May</a></li>
          <li<%= @reservation.starts_at_in_zone.month == 6  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> June</a></li>
          <li<%= @reservation.starts_at_in_zone.month == 7  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> July</a></li>
          <li<%= @reservation.starts_at_in_zone.month == 8  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> August</a></li>
          <li<%= @reservation.starts_at_in_zone.month == 9  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> September</a></li>
          <li<%= @reservation.starts_at_in_zone.month == 10  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> October</a></li>
          <li<%= @reservation.starts_at_in_zone.month == 11  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> November</a></li>
          <li<%= @reservation.starts_at_in_zone.month == 12  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> December</a></li>
        </ul>
      </div>
      
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span id="day-of-month-label"><%= @reservation.starts_at_in_zone.strftime("%-d") %></span> <span class="caret"></span>
        </button>
        <ul id="day-of-month-selector" class="dropdown-menu" role="menu">
          <li<%= @reservation.starts_at_in_zone.day == 1  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 1</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 2  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 2</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 3  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 3</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 4  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 4</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 5  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 5</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 6  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 6</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 7  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 7</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 8  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 8</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 9  ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 9</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 10 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 10</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 11 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 11</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 12 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 12</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 13 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 13</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 14 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 14</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 15 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 15</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 16 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 16</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 17 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 17</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 18 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 18</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 19 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 19</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 20 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 20</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 21 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 21</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 22 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 22</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 23 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 23</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 24 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 24</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 25 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 25</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 26 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 26</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 27 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 27</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 28 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 28</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 29 ? ' class="doms-selected"'.html_safe : '' %> id="doms-day-29"><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 29</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 30 ? ' class="doms-selected"'.html_safe : '' %> id="doms-day-30"><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 30</a></li>
          <li<%= @reservation.starts_at_in_zone.day == 31 ? ' class="doms-selected"'.html_safe : '' %> id="doms-day-31"><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 31</a></li>
        </ul>
      </div>
      
      ,
      
      <%= @reservation.starts_at_in_zone.year %>
      
      at 
      
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span id="time-of-day-label"><%= @reservation.starts_at_in_zone.strftime("%l:%M%P") %></span>  <span class="caret"></span>
        </button>
        <ul id="time-of-day-selector" class="dropdown-menu" role="menu">
          <% ((@reservation.space.location.earliest_opening / 100.00).floor .. (@reservation.space.location.latest_closing / 100.00).floor).each do |hour| %>
          <li<%= @reservation.starts_at_in_zone.hour == hour && @reservation.starts_at_in_zone.min == 0 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <%= @reservation.starts_at_in_zone.change(hour: hour, min: 0).strftime("%l:%M%P") %></a></li>
          <li<%= @reservation.starts_at_in_zone.hour == hour && @reservation.starts_at_in_zone.min == 15 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <%= @reservation.starts_at_in_zone.change(hour: hour, min: 15).strftime("%l:%M%P") %></a></li>
          <li<%= @reservation.starts_at_in_zone.hour == hour && @reservation.starts_at_in_zone.min == 30 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <%= @reservation.starts_at_in_zone.change(hour: hour, min: 30).strftime("%l:%M%P") %></a></li>
          <li<%= @reservation.starts_at_in_zone.hour == hour && @reservation.starts_at_in_zone.min == 45 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <%= @reservation.starts_at_in_zone.change(hour: hour, min: 45).strftime("%l:%M%P") %></a></li>
          <% end %>
        </ul>
      </div>
      
      for 

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span id="duration-in-hours-label">1 hour</span> <span class="caret"></span>
        </button>
        <ul id="duration-in-hours-selector" class="dropdown-menu" role="menu">
          <li<%= @reservation.duration_in_hours == 1 ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 1 hour</a></li>
          <% (2..@reservation.space.location.max_hours_open).each do |hours| %>
          <li<%= @reservation.duration_in_hours == hours ? ' class="doms-selected"'.html_safe : '' %>><a><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <%= hours %> hours</a></li>
          <% end %>
        </ul>
      </div>
      
    </small>
  </h2>
</div>


<div style="display:none;">
  <%= f.hidden_field :timezone %>
  <%= f.datetime_select :starts_at_in_zone, { minute_step: 15 } %>
  <%= f.datetime_select :ends_at_in_zone, { minute_step: 15 } %>
</div>


<div class="page-wide-padding">
  <div class="page-wide-padding-inside">
    <h3>
      <a class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
      &nbsp; 
      <strong><%= sunday_start.strftime("%B") %></strong> <%= sunday_start.year %>
      &nbsp; 
      <a class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </h3>
    <div class="week-scheduler-container">
      <div id="reservation-indicator" style="width:13.5%" data-default-width="13.5" data-default-width-unit="%" data-default-height="1.2" data-default-height-unit="em"></div>
      <table class="week-scheduler">
        <thead>
          <tr class="on-the-hour">
            <th></th>
            <th>Sun <strong><%= sunday_start.day %></strong></th>
            <th>Mon <strong><%= sunday_start.advance(days: 1).in_time_zone(@reservation.timezone).day %></strong></th>
            <th>Tue <strong><%= sunday_start.advance(days: 2).in_time_zone(@reservation.timezone).day %></strong></th>
            <th>Wed <strong><%= sunday_start.advance(days: 3).in_time_zone(@reservation.timezone).day %></strong></th>
            <th>Thu <strong><%= sunday_start.advance(days: 4).in_time_zone(@reservation.timezone).day %></strong></th>
            <th>Fri <strong><%= sunday_start.advance(days: 5).in_time_zone(@reservation.timezone).day %></strong></th>
            <th>Sat <strong><%= sunday_start.advance(days: 6).in_time_zone(@reservation.timezone).day %></strong></th>
          </tr>
        </thead>
        <tbody>
          <% 
          start_hour = (@reservation.space.location.earliest_opening / 100).floor
          end_hour = ((@reservation.space.location.latest_closing / 100) + 0.5).floor
  
          (start_hour..end_hour).each do |hour| %>
            <tr class="on-the-hour" data-datetimerow="<%= hour %>00">
              <th data-datetimerow="<%= hour %>00" scope="row"><span><%= hour < 12 ? "#{hour} AM" : (hour == 12 ? "Noon" : "#{hour-12} PM") %></span></th>
              <td data-datetimeline="0-<%= hour %>00"<%= now_in_zone.day == sunday_start.day                                                      ? ' class="today-cell"'.html_safe : '' %>></td>
              <td data-datetimeline="1-<%= hour %>00"<%= now_in_zone.day == sunday_start.advance(days: 1).day ? ' class="today-cell"'.html_safe : '' %>></td>
              <td data-datetimeline="2-<%= hour %>00"<%= now_in_zone.day == sunday_start.advance(days: 2).day ? ' class="today-cell"'.html_safe : '' %>></td>
              <td data-datetimeline="3-<%= hour %>00"<%= now_in_zone.day == sunday_start.advance(days: 3).day ? ' class="today-cell"'.html_safe : '' %>></td>
              <td data-datetimeline="4-<%= hour %>00"<%= now_in_zone.day == sunday_start.advance(days: 4).day ? ' class="today-cell"'.html_safe : '' %>></td>
              <td data-datetimeline="5-<%= hour %>00"<%= now_in_zone.day == sunday_start.advance(days: 5).day ? ' class="today-cell"'.html_safe : '' %>></td>
              <td data-datetimeline="6-<%= hour %>00"<%= now_in_zone.day == sunday_start.advance(days: 6).day ? ' class="today-cell"'.html_safe : '' %>></td>
            </tr>
            <tr class="half-hour" data-datetimerow="<%= hour %>30">
              <th data-datetimerow="<%= hour %>30" scope="row"></th>
              <td data-datetimeline="0-<%= hour %>30"<%= now_in_zone.day == sunday_start.day                                                      ? ' class="today-cell"'.html_safe : '' %>></td>
              <td data-datetimeline="1-<%= hour %>30"<%= now_in_zone.day == sunday_start.advance(days: 1).day ? ' class="today-cell"'.html_safe : '' %>></td>
              <td data-datetimeline="2-<%= hour %>30"<%= now_in_zone.day == sunday_start.advance(days: 2).day ? ' class="today-cell"'.html_safe : '' %>></td>
              <td data-datetimeline="3-<%= hour %>30"<%= now_in_zone.day == sunday_start.advance(days: 3).day ? ' class="today-cell"'.html_safe : '' %>></td>
              <td data-datetimeline="4-<%= hour %>30"<%= now_in_zone.day == sunday_start.advance(days: 4).day ? ' class="today-cell"'.html_safe : '' %>></td>
              <td data-datetimeline="5-<%= hour %>30"<%= now_in_zone.day == sunday_start.advance(days: 5).day ? ' class="today-cell"'.html_safe : '' %>></td>
              <td data-datetimeline="6-<%= hour %>30"<%= now_in_zone.day == sunday_start.advance(days: 6).day ? ' class="today-cell"'.html_safe : '' %>></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <hr/>

  <div class="container">
    <h2>4. Your Details</h2>

    <div class="row">
      <div class="col-md-6 form-group<%= f.object.errors[:name].empty? ? "" : " has-error has-feedback" %>">
        <%= f.text_field :name, { class: "form-control", placeholder: 'Full Name, e.g. Johnny Appleseed', required: 'required' } %>
      </div>

      <div class="col-md-6 form-group<%= f.object.errors[:phone].empty? ? "" : " has-error has-feedback" %>">
        <%= f.text_field :email, { class: "form-control", type: 'email', placeholder: 'Email, e.g. me@example.com', required: 'required' } %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 form-group<%= f.object.errors[:phone].empty? ? "" : " has-error has-feedback" %>">
        <%= f.text_field :phone, { class: "form-control", type: "tel", placeholder: 'Phone, e.g. 123-456-7890' } %>
      </div>
    
      <div class="col-md-6 form-group<%= f.object.errors[:zipcode].empty? ? "" : " has-error has-feedback" %>">
        <%= f.text_field :zipcode, { class: "form-control", placeholder: 'Zipcode, e.g. 94301' } %>
      </div>
    </div>

    <% if authed_user %>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-11">
        <%= f.check_box :save_details_for_next_time %>
        <%= f.label :save_details_for_next_time %>
      </div>
    </div>
    <% end %>
  </div>

  <hr/>

  <div class="container">
    <h2>
      5. Review: Cost &mdash; $<span id="total-price">3.00</span> 
      &nbsp;
      <%= f.submit 'Review & Pay...', class: "btn btn-lg btn-success" %>
    </h2>
  </div>

  <% end %>
