<% content_for :page_title do %>
reservation Details - 
<% end %>
<div class="container">
<div class="page-header">
<h1>
<div class="pull-left">
<%= link_to "<span class=\"glyphicon glyphicon-step-backward\" aria-hidden=\"true\"></span>".html_safe, reservations_path, class: "btn btn-default", title: "Back to reservations" %>
&nbsp;
</div>
<div class="pull-right">
<%= link_to "<span class=\"glyphicon glyphicon-pencil\" aria-hidden=\"true\"></span> Edit".html_safe, edit_reservation_path(@reservation), class: "btn btn-warning" %>
</div>
reservation Details
</h1>
</div>

<div class="row">
  <label class="col-sm-3 text-right text-muted">Space</label>
  <div class="col-sm-9"><%= @reservation.space %></div>
</div>

<div class="row">
  <label class="col-sm-3 text-right text-muted">User</label>
  <div class="col-sm-9"><%= @reservation.user %></div>
</div>

<div class="row">
  <label class="col-sm-3 text-right text-muted">Name</label>
  <div class="col-sm-9"><%= @reservation.name %></div>
</div>

<div class="row">
  <label class="col-sm-3 text-right text-muted">Phone</label>
  <div class="col-sm-9"><%= @reservation.phone %></div>
</div>

<div class="row">
  <label class="col-sm-3 text-right text-muted">Zipcode</label>
  <div class="col-sm-9"><%= @reservation.zipcode %></div>
</div>

<div class="row">
  <label class="col-sm-3 text-right text-muted">Starts at</label>
  <div class="col-sm-9"><%= @reservation.starts_at %></div>
</div>

<div class="row">
  <label class="col-sm-3 text-right text-muted">Ends at</label>
  <div class="col-sm-9"><%= @reservation.ends_at %></div>
</div>

<div class="row">
  <label class="col-sm-3 text-right text-muted">Chargeid</label>
  <div class="col-sm-9"><%= @reservation.chargeid %></div>
</div>

</div>

