<p id="notice"><%= notice %></p>

<% content_for :page_title do %>
Settings - 
<% end %>
<div class="container">
<div class="page-header">
<h1>
<div class="pull-left">
<%= link_to "<span class=\"glyphicon glyphicon-step-backward\" aria-hidden=\"true\"></span>".html_safe, "/", class: "btn btn-default", title: "Back" %>
&nbsp;
</div>

<div class="pull-right">
<%= link_to "<span class=\"glyphicon glyphicon-plus-sign\" aria-hidden=\"true\"></span> New Setting".html_safe, [:new, :setting], class: "btn btn-success" %>
</div>
Listing Settings
</h1>
</div>

<table class="table table-striped table-hover tablesorter" id="Settings-table">


  <thead>
<tr>
    
      <th><span>Org</span></th>
      <th><span>Default Location Spaces</span></th>
      <th><span>Stripe publishable key</span></th>
      <th><span>Stripe secret key encrypted</span></th>
      <th><span>Salt</span></th>
      
    </tr>
  </thead>

  <tbody>
    <% unless @settings.any? %>
<tr id="empty-table">
<td class="bg-warning" colspan="2">No settings created yet.</td>
</tr>
<% end %>
<% @settings.each do |setting| %>
<tr class="linked-row" data-href="<%= setting_path(setting) %>">
      
        <td><%= link_to setting.org.name, setting %></td>
        <td><%= link_to setting.default_location_spaces, setting %></td>
        <td><%= link_to setting.stripe_publishable_key, setting %></td>
        <td><%= link_to setting.stripe_secret_key_encrypted, setting %></td>
        <td><%= link_to setting.salt, setting %></td>
        
        
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>




