<%= form_for(@good) do |f| %>
  <% if @good.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <strong><%= pluralize(@good.errors.count, "error") %> prohibited this good from being saved:</strong>

      <ul>
      <% @good.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group<%= f.object.errors[:menu_id].empty? ? "" : " has-error has-feedback" %>">
<%= f.label :menu_id, { class: "control-label col-sm-2" } %>
<div class="col-sm-10">
    <%= f.text_field :menu_id, { class: "form-control" } %>
</div>
</div>
  </div>
  <div class="row">
    <div class="form-group<%= f.object.errors[:name].empty? ? "" : " has-error has-feedback" %>">
<%= f.label :name, { class: "control-label col-sm-2" } %>
<div class="col-sm-10">
    <%= f.text_field :name, { class: "form-control" } %>
</div>
</div>
  </div>
  <div class="row">
    <div class="form-group<%= f.object.errors[:permalink].empty? ? "" : " has-error has-feedback" %>">
<%= f.label :permalink, { class: "control-label col-sm-2" } %>
<div class="col-sm-10">
    <%= f.text_field :permalink, { class: "form-control" } %>
</div>
</div>
  </div>
  <div class="row">
    <div class="form-group<%= f.object.errors[:price_in_cents].empty? ? "" : " has-error has-feedback" %>">
<%= f.label :price_in_cents, { class: "control-label col-sm-2" } %>
<div class="col-sm-10">
    <%= f.number_field :price_in_cents, { class: "form-control" } %>
</div>
</div>
  </div>
  <div class="row">
    <div class="form-group<%= f.object.errors[:picurl].empty? ? "" : " has-error has-feedback" %>">
<%= f.label :picurl, { class: "control-label col-sm-2" } %>
<div class="col-sm-10">
    <%= f.text_field :picurl, { class: "form-control" } %>
</div>
</div>
  </div>
  <div class="row">
    <div class="form-group<%= f.object.errors[:description].empty? ? "" : " has-error has-feedback" %>">
<%= f.label :description, { class: "control-label col-sm-2" } %>
<div class="col-sm-10">
    <%= f.text_area :description, { class: "form-control" } %>
</div>
</div>
  </div>
  <div class="actions text-center">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
