<% content_for :page_title do %>
Location Details - 
<% end %>
<div class="container">
  <div class="page-header">
    <h1>
      <div class="pull-left">
        <%= link_to "<span class=\"glyphicon glyphicon-step-backward\" aria-hidden=\"true\"></span>".html_safe, locations_path, class: "btn btn-default", title: "Back to locations" %>
        &nbsp;
      </div>
      <div class="pull-right">
        <%= link_to "<span class=\"glyphicon glyphicon-pencil\" aria-hidden=\"true\"></span> Edit".html_safe, edit_location_path(@location), class: "btn btn-warning" %>
      </div>
      Location Details
    </h1>
  </div>
  
  <div class="row">
    <label class="col-sm-3 text-right text-muted">Spaces</label>
    <div class="col-sm-9"><%= link_to "#{@location.spaces.count} at this location", location_spaces_path(@location) %></div>
  </div>

  <hr/>
  
  <div class="row">
    <label class="col-sm-3 text-right text-muted">Name</label>
    <div class="col-sm-9"><%= @location.name %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Permalink</label>
    <div class="col-sm-9"><%= @location.permalink %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Phone</label>
    <div class="col-sm-9"><%= @location.phone %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Email</label>
    <div class="col-sm-9"><%= @location.email %></div>
  </div>

  <hr/>
  
  <div class="row">
    <label class="col-sm-3 text-right text-muted">Timezone</label>
    <div class="col-sm-9"><%= @location.timezone %></div>
  </div>
  
  <div class="row">
    <label class="col-sm-3 text-right text-muted">Latitude</label>
    <div class="col-sm-9"><%= @location.latitude %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Longitude</label>
    <div class="col-sm-9"><%= @location.longitude %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Street address1</label>
    <div class="col-sm-9"><%= @location.street_address1 %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Street address2</label>
    <div class="col-sm-9"><%= @location.street_address2 %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">City</label>
    <div class="col-sm-9"><%= @location.city %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">State province region</label>
    <div class="col-sm-9"><%= @location.state_province_region %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Zip postal code</label>
    <div class="col-sm-9"><%= @location.zip_postal_code %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Country code</label>
    <div class="col-sm-9"><%= @location.country_code %></div>
  </div>

  <hr/>
  
  <div class="row">
    <label class="col-sm-3 text-right text-muted">Sunday opening</label>
    <div class="col-sm-9"><%= @location.sunday_opening %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Sunday closing</label>
    <div class="col-sm-9"><%= @location.sunday_closing %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Monday opening</label>
    <div class="col-sm-9"><%= @location.monday_opening %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Monday closing</label>
    <div class="col-sm-9"><%= @location.monday_closing %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Tuesday opening</label>
    <div class="col-sm-9"><%= @location.tuesday_opening %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Tuesday closing</label>
    <div class="col-sm-9"><%= @location.tuesday_closing %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Wednesday opening</label>
    <div class="col-sm-9"><%= @location.wednesday_opening %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Wednesday closing</label>
    <div class="col-sm-9"><%= @location.wednesday_closing %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Thursday opening</label>
    <div class="col-sm-9"><%= @location.thursday_opening %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Thursday closing</label>
    <div class="col-sm-9"><%= @location.thursday_closing %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Friday opening</label>
    <div class="col-sm-9"><%= @location.friday_opening %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Friday closing</label>
    <div class="col-sm-9"><%= @location.friday_closing %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Saturday opening</label>
    <div class="col-sm-9"><%= @location.saturday_opening %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Saturday closing</label>
    <div class="col-sm-9"><%= @location.saturday_closing %></div>
  </div>

</div>

