<% content_for :page_title do %>
<%= @location.name %> Location Details - 
<% end %>
<div class="container">
  <div class="page-header">
    <h1>
      <div class="pull-left">
        <%= link_to "<span class=\"glyphicon glyphicon-step-backward\" aria-hidden=\"true\"></span>".html_safe, org_path(@location.org), class: "btn btn-default", title: "Back to org" %>
        &nbsp;
      </div>

      <%= @location.name %>
      <small>Location Details</small>
    </h1>
  </div>
  
  <div class="row">
    <label class="col-sm-3 text-right text-muted">Phone</label>
    <div class="col-sm-9"><%= @location.phone %></div>
  </div>

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Email</label>
    <div class="col-sm-9"><%= link_to @location.email, "mailto:#{@location.email}" %></div>
  </div>
  

  <div class="row">
    <label class="col-sm-3 text-right text-muted">Address</label>
    <div class="col-sm-9">
      <%= @location.street_address1 %><%= @location.street_address2.blank? ? '' : ', '+@location.street_address2 %>, 
      <%= @location.city %>, <%= @location.state_province_region %> <%= @location.zip_postal_code %> 
      <%= @location.country_code != 'US' ? @location.country_code : '' %>
    </div>
  </div>

  <hr/>
  

  <% @location.spaces.order('name desc').all.in_groups_of(4) do |group| %>
  <div class="row">
    <% group.each do |space| %>
    <div class="col-xs-6 col-md-3">
      <% unless space.nil? %>
      <div class="thumbnail">
        <img src="<%= space.picurl %>" alt="<%= space.name %>">
        <div class="caption">
          <h3><%= space.name %></h3>
          <p><%= number_to_currency(space.standard_hourly_price_in_cents / 100.00) %> / hour</p>
          <p><%= truncate space.description, separator: ' ', length: 80 %></p>
          <p class="text-center"><a href="<%= new_org_location_space_reservation_path(space.location.org, space.location, space) %>" class="btn btn-primary" role="button">RSVP</a></p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>

</div>

