<!DOCTYPE html>
<html>
<head>
  <title><%= yield :page_title %><%= @location ? "#{@location.name} - " : '' %><%= @org ? @org.name : 'HausWare' %></title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  <%= yield :after_css %>
</head>
<body class="controller-<%= controller.controller_name.dasherize %> action-<%= controller.action_name.dasherize %>">  <nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">HanaHaus</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <% if @location && authed_receptionist %>
        <li<%= request.path.starts_with?("/reception/") ? " class=\"active\"".html_safe : "" %>><a href="<%= reception_org_location_path(@location.org, @location) %>"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Reception - <%= @location.name %></a></li>
        <% end %>
        <li<%= request.path.ends_with?("/reservations/new") ? " class=\"active\"".html_safe : "" %>><a href="/orgs/hana/locations/palo-alto/spaces/open-seating/reservations/new"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Make a Reservation</a></li>
      </ul> 
      <% if !authed_user %><%# ---- logged out ---- %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Partners</a></li>
        <li><a href="#">Find Us</a></li>
        <li><a href="/sessions/new">Login</a></li>
      </ul>
      <% else %><%# ---- logged in ---- %>
      <ul class="nav navbar-nav navbar-right">
        <% if @org && authed_administrator %>
        <li<%= request.path.starts_with?("/admin/") ? " class=\"active\"".html_safe : "" %>><a href="<%= admin_org_path(@org) %>"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Administrate <%= @org.name %></a></li>
        <% end %>
        <li class="profile dropdown">
          <a class="dropdown-toggle" type="button" id="profile-dropdown" data-toggle="dropdown" aria-expanded="false"><img src='<%= authed_user.picurl %>'> <%= authed_user.full_name %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="profile-dropdown">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= user_path(authed_user) %>">Profile</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/sessions/destroy">Logout</a></li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>
<% unless notice.blank? %>
<div id="notice" class="alert alert-success" role="alert">
  <div class="container">
    <%= notice %>
  </div>
</div>
<% end %>

<% unless flash[:error].blank? %>
<div id="flash-error" class="alert alert-danger" role="alert">
  <div class="container">
    <%= flash[:error] %>
  </div>
</div>
<% end %>

<%= yield %>
<footer id="content-footer" role="contentinfo">
  <div class="container">
    <p class="align-center">
      Copyright &copy; <%= Time.now.year %> HanaHaus · all rights reserved.  This site is <a href="https://github.com/thrivesmart/hausware">open sourced</a> on GitHub.
    </p>
  </div>
</footer>

<%= yield :before_js %>
<% unless ENV["GOOGLE_ANALYTICS_ID"].blank? %>
<script>
(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,"script","//www.google-analytics.com/analytics.js","ga");
ga("create", "<%= ENV["GOOGLE_ANALYTICS_ID"] %>", "auto");
ga("send", "pageview");
</script>
<% end %>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= yield :after_js %>


</body>
</html>
